@charset "utf-8";
/* CSS Document */
*{ font-family: 'Open Sans', sans-serif;}
body{ background: #073f4e; }
.header-main{ background:#032c35;}
.navbar-brand{ height:auto;}
.navbar{ margin-bottom:0;}
.logo{ padding:0;}

.log-sign{ margin: 20px 0; }
.log-sign ul{ text-align: right; }
.log-sign ul li a{ color: #fff; font-size: 18px;}
.log-sign ul li a:hover{ text-decoration: none; }

.gender-m-f{ float: left; width: 48%; }
.log-sign-form{background: #fff; padding: 40px;}


@media screen and (max-width: 767px) {
	.logo-part{ margin: auto; }
	.logo-part a img{ margin: auto; }
	.log-sign ul{ text-align: center; }
	.mson h2{ font-size: 20px; }
	.mobile-cnt h3{ font-size: 15px!important; }
}