<div class="page-wrapper">

  <div class="page-header">
    <h1 style="font-size: 35px;"><img class="logo-img" src="images/logo.png" /> Welcome to Mymissionadmission</h1>
  </div>

  <p class="text-center">
    <a href="http://www.mymissionadmission.com/" class="btn btn-lg btn-default">Login</a> or <a ui-sref="register" class="btn btn-lg btn-primary">Register</a>
  </p>

        <p class="text-center"><h2 style="font-size: 35px;">Our Mission : Your Admission</h2></p>
        <p class="text-center"><h3 style="font-size: 30px;">Your Gateway To a Dream College</h3></p>
       <p class="text-center"> <h2 style="font-size: 35px;">Fund Your Education / Free Applications / Earn Scholarships</h2></p>

</div>
