<div class="container-fluid header-main">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<div class="col-sm-1 logo-part">
						<a href="/#/"><img src="http://res.cloudinary.com/www-mymissionadmission-com/image/upload/v1457420175/logo_50x50_yooscd.png" class="img-responsive" style="margin-top: 10px;"></a>
					</div>
					<div class="col-sm-3">
					</div>
					<div class="col-sm-8 log-sign">
						<ul class="list-inline list-unstyled">
							<li><a href="/#/register"> Sign up</a></li>
							<li><a href="http://www.mymissionadmission.com/#/login"> Sign in</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
</div>

            <div style="margin-top:200px;color:white;">
              <center class="mson"><h2>MY MISSION ADMISSION</h2></center>
       			
            </div>
            <div style="color:white;">
              <center style="font-weight:bold; font-size:20px;"><h2>Our Mission : Your Admission</h2></center>
              <center><h2>Your most trusted career and colleges buddy</h2></center>
                <center><h2>Transparency / Engagement / Enrolment</h2></center>
            </div>
	