<div ng-include="'views/nav.html'"></div>
	<div class="col-sm-12">
		    <div class="col-sm-6 mobile-cnt">
				<div style="margin-top:100px;color:white;">
				  <center class="mson"><h2>MY MISSION ADMISSION</h2></center>
				  <hr style="width: 500px;">
				</div>
				<div style="color:white;">
				  <center style="font-weight:bold; font-size:20px;"><h3>Our Mission : Your Admission</h3></center>
				  <center><h3>Your most trusted career and colleges buddy</h3></center>
				   <center><h3>Transparency / Engagement / Enrolment</h3></center>
				</div>
			</div>
			<div class="col-sm-6">
			   <center><img src="http://i.imgur.com/uVYqPkF.png" class="img-responsive" style="width:80%;margin-top:30px;">
			   </center>
			</div>
	</div>

