<div class="page-wrapper">

  <div class="page-header">
    <h1><a ui-sref="home"><img class="logo-img" src="images/logo.png" /></a> Register</h1>
  </div>

  <div ng-init="countryCheck();countryList()">
  <form ng-submit="register();">

  <div>
  <input type="text" ng-model="user.studentname"required oninvalid="this.setCustomValidity('Name could not be blank')" oninput="this.setCustomValidity('')" placeholder="Student Name">
  </div>
  
  <div>   
  <input name="email" type="email" ng-model="user.email" required oninvalid="this.setCustomValidity('Please enter a valid Email Address')" oninput="this.setCustomValidity('')" ng-keydown="clearall()" title='Enter in format abcdef@email.com'   placeholder="Email Address">
  </div>
   <p style="margin:1.5px; color:red; font-size: 14px" ng-if="error === 'The specified email address is already in use.'">Someone's already using that email. If that’s you please sign in to proceed.</p>

  <div>
  <input name="password" type="password" required oninvalid="this.setCustomValidity('Password cannot be blank')" oninput="this.setCustomValidity('')" ng-model="user.password"  placeholder="Create Password">
  </div>    
    
    <div>                    
  <select placeholder="Phone" class="contry-name"  data-role="listview" name="country" data-inset="true" oninvalid="this.setCustomValidity('Please select your country')" oninput="this.setCustomValidity('')" ng-model="user.country" ng-options="size as size.name for size in countries" required x-ng-change="changecallingcode()" >
   <option value=""><p style="color:#fff;">Country</p></option>
   </select>
   </div>
  
  <div>       
        <input type="text" class="num-disable" ng-model="user.countrycode" required  disabled>
           
       <input type="tel" pattern="^(0|[1-9][0-9]*)$" class="num-enable" ng-model="user.studentmobile" required oninvalid="this.setCustomValidity('Invalid Contact number')" oninput="this.setCustomValidity('')" placeholder="Phone">
     </div>
  
  <div>     
      <h4 style="text-align:left; margin-left:1em"> <input type="radio" value= "Male" ng-model="user.gender" name="name" required title="Please Select your Gender"> &nbsp; Male </h4> 
                        
     <h4 style="text-align:left; margin-left:1em" > <input type="radio" value="Female" name="name" ng-model="user.gender" required title="Please Select your Gender" > &nbsp; Female </h4>  
     </div>                  
  <div>       
  <button class="btn btn-lg btn-primary btn-block btn-login_style reg-btn" type="submit" ng-disabled="submitbuttondisabled">Register</button>
  </div>
   <p style="margin:1.5px; color:red; font-size: 14px" ng-if="sucess === 'true'">Register Successfully..Click Here To <a href="http://www.mymissionadmission.com/" class="btn btn-lg btn-default">Login</a></p>
  </form>
</div>


</div>
